---
title: Why WE NEED a BIBLE MMO!
description: This article enumerates the main reasons that we need to create a Christian
  MMO based on the bible.
date: 2023-03-07T15:41:58.731Z
preview: ""
draft: false
tags:
  - articles
categories: ""
lastmod: 2023-03-07T18:03:12.606Z
type: default
---
<hr />

# Table of contents

<hr />